In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv('wine.csv')
dataset.head(5)

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
x = dataset.drop(['Wine'], axis=1)

In [5]:
y=dataset['Wine']

In [6]:
y

0      1
1      1
2      1
3      1
4      1
      ..
173    3
174    3
175    3
176    3
177    3
Name: Wine, Length: 178, dtype: int64

In [7]:
x.head(4)

,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [9]:
from sklearn.ensemble import RandomForestClassifier

In [10]:
classifier = RandomForestClassifier()

In [11]:
classifier.fit(x_train, y_train)

D:\Developer\Developer-Tools\Python\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [12]:
pred = classifier.predict(x_test)

In [13]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, pred)

In [14]:
print(accuracy)

0.9555555555555556

In [15]:
yhat = classifier.predict(x)

In [16]:
dataset['yhat']=yhat

In [17]:
accuracy = accuracy_score(y, yhat)

In [18]:
print(accuracy)

0.9831460674157303

In [21]:
pd.DataFrame(dataset).to_csv("Wine-RForest-Prediction.csv")